# Configuration Supabase
VITE_SUPABASE_URL=https://zfekgfupuzpnuixaqrsd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmZWtnZnVwdXpwbnVpeGFxcnNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMjQ1NDksImV4cCI6MjA3MzkwMDU0OX0.UF06Fiz4pw5N8MEnOlzrZynzyuwQTMMNLckwDBkgr3k

# Configuration de l'application
VITE_APP_NAME=LA VOP
VITE_APP_URL=https://lavop-org.vercel.app
VITE_APP_VERSION=1.0.0

# Configuration email (optionnel)
VITE_EMAIL_SERVICE=resend
VITE_EMAIL_API_KEY=your_email_api_key_here

# Configuration WhatsApp
VITE_WHATSAPP_NUMBER=+24165515877

# Configuration admin (NE PAS PARTAGER)
# VITE_ADMIN_EMAIL=jonathanakarentoutoume@gmail.com
# VITE_ADMIN_PASSWORD=ANDJ&laVOP171222$
# VITE_MODERATOR_EMAIL=ludmillantoutoume@gmail.com
# VITE_MODERATOR_PASSWORD=sagesse2025
